<h2> Statements... </h2>

{{#hascustomlogin}} 

{{#hasfpiconnav}}
<div class="row loginicons">
    {{#fpiconnav}} {{#hasicon}}
    <div class="col-md-3">
        <div class="card loginicon">
            <div class="loginnavicon">
                <i class="fa fa-4x fa-{{{icon}}}"></i>
            </div>
            <div class="loginnavtext">
                <h3>{{{title}}}</h3> {{{text}}}
            </div>
        </div>
    </div>
    {{/hasicon}} {{/fpiconnav}}
</div>
{{/hasfpiconnav}} 

{{#hasfeature1}}
<div class="row fpcustomtext">
    <div class="col-md-8">
        <div class="featuretext">
            {{{feature1text}}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="loginfeaturedimage">
            <img src="{{{ feature1image }}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{{/hasfeature1}} 
{{#hasfeature2}}
<div class="row fpcustomtext">
    <div class="col-md-8">
        <div class="featuretext">
            {{{feature2text}}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="loginfeaturedimage">
            <img src="{{{ feature2image }}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{{/hasfeature2}} 
{{#hasfeature3}}
<div class="row fpcustomtext">
    <div class="col-md-8">
        <div class="featuretext">
            {{{feature3text}}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="loginfeaturedimage">
            <img src="{{{ feature3image }}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{{/hasfeature3}} 

{{/hascustomlogin}}