
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


<style>
    .contIcnsSociales {
        /*width: 20%;
        float: right;*/
        /*background-image: url(img/bgSocial.jpg);*/
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        /*height: 88px;*/    width: 130px;

    }
    
    .IcnsSociales {
        padding-left: 10%;
        display: flex;
        justify-content: center;
        width: 160px;

    }
    .IcnsSociales img {
        /*width: 30px!important;*/
        margin-top: 12%;margin-right: 20px!important; margin-left: 0px!important; 
    }
    .cabezalFormularioEntrada {margin-bottom: 3rem!important;margin-top: 6rem!important;width: 80%; margin-left: 9%; margin-right: 9%;}
    #page-footer {
        background-color: #1A352F;
        border-top: 9px #235B4E solid;
        height: 95px;
    }
    .pie{/*height: 90px; width: 100%;*/}
    .pie img {
        height: 90%;
        float: left;
        width: 400px;
        margin-left: 20px;
    }
    .socialICN{width: 20px!important;}
    .twitText{
        width: 180px;
    
        text-align: center;
    }
    .MxProcura {
    font-weight: bold;
    color: white;
    margin-top: 2px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;    padding-left: 20px;
    }
    .imgPIElogos{float:left; width:60%; }
    .soporte {
        float: left;
        width: 19%;
        font-family: 'Montserrat', sans-serif;
        text-align: right;
        font-size: 13px;
        padding-top: 11px;
    }
    .iconoSociales {
        float: left;
        width: 17%;
        padding-left: 40px;
    }
    .tool_dataprivacy {display: none;}
    #page-footer > a {display: NONE;}
</style>
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}


<footer id="page-footer" class="py-3 text-light">
   
    <div class="imgPIElogos" >
        <img src="{{urlserver}}img/logosPIE.svg" class="" title="Capacitación en Línea en Contrataciones Públicas" alt="Capacitación en Línea en Contrataciones Públicas">
    </div>
    <div class="soporte" >
        <a href="mailto:soportecat@hacienda.gob.mx" target="_blank">  
                soportecat@hacienda.gob.mx
        </a>
        <p>55-2000-4400</p>
    </div>
    <div class="iconoSociales" >
        <div class="row IcnsSociales">
            <a href="https://www.facebook.com/MexicoProcura/" target="_blank">
                <img  class="socialICN" src="{{urlserver}}img/fb.svg" class="socialIcn" title="Capacitación en Línea en Contrataciones Públicas" alt="Capacitación en Línea en Contrataciones Públicas">
            </a>
            <a href="https://twitter.com/MexicoProcura" target="_blank">
                <img class="socialICN" src="{{urlserver}}img/tw.svg" class="socialIcn" title="Capacitación en Línea en Contrataciones Públicas" alt="Capacitación en Línea en Contrataciones Públicas">  
            </a>  
            <a href="https://www.youtube.com/channel/UCl8mZ0kU_jljMO7mc4vkEug" target="_blank">
                <img class="socialICN" src="{{urlserver}}img/YT.svg" class="socialIcn" title="Capacitación en Línea en Contrataciones Públicas" alt="Capacitación en Línea en Contrataciones Públicas">  
            </a>   
        </div>
        <div class="row twitText">       
            <p class="MxProcura">@MexicoProcura</p>
        </div>
    </div>
       <!-- PIE ORIGINAL <div id="course-footer">{{{ output.course_footer }}}</div>

        <div class="row">

                <div class="col-md-8">
                    {{{ output.footnote }}}

                    {{{ output.login_info }}}

                    {{{ output.home_link }}}

                    {{# output.page_doc_link }}
                        <p class="helplink">{{{ output.page_doc_link }}}</p>
                    {{/ output.page_doc_link }}

                </div>

                
                <div>
                <h1>prueba</h1>
                </div>

        
        <nav class="nav navbar-nav d-md-none">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
    

    </div>FIN PIE ORIGINAL -->
    {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
</footer>