<style>
.headCONT {width: 49%; float: right;}
.card {background-color: transparent!important;    border: 1px solid transparent!important;;}
img.img-fluid { display: none;}
header#page-header {background: url({{urlserver}}img/bannerLogos.jpg);min-height: 180px;}
#region-main > div.fpwonderbox > h2 {text-align:center;font-size: 45px!important;font-weight: bold!important;border-bottom: 1px silver solid;}
h5#instance-73-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px silver solid;
}
</style>
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">


   {{{ output.standard_top_of_body_html }}}

   {{>theme_fordson/navbar}}

     {{#output.headerbkglocation}}
       <!--  {{{ output.headerimage }}}-->
    {{/output.headerbkglocation}}

    <div id="page" class="container-fluid">


  
         <div id="learningcontent">
        {{#headerlogo}}
         <div class="headerlogo">
              <!--    <img src="{{{ headerlogo }}}" class="img-fluid" alt="Responsive image">-->
            </div>
        {{/headerlogo}}<p></p>
<div class="" style="background-color:#dab99a">
     {{{ output.fp_slideshow }}}
        {{{ output.full_header }}}
</div>
        <div id="page-content" class="row" >
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks mb-3{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>

                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}

                            {{{ output.course_content_header }}}
                            
                            {{{ enrolform }}}

                            {{{ output.fp_wonderbox }}}

                            {{#hasfpblockregion}}
                                <div class="fp-blocks">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4">
                                                    <section data-region="blocks-fpa" class="hidden-print">
                                                        {{{ fpablocks }}}
                                                    </section>
                                            </div>
                                            <div class="col-md-4">
                                                    <section data-region="blocks-fpb" class="hidden-print">
                                                        {{{ fpbblocks }}}
                                                    </section>
                                            </div>
                                            <div class="col-md-4">
                                                    <section data-region="blocks-fpc" class="hidden-print">
                                                        {{{ fpcblocks }}}
                                                    </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/hasfpblockregion}}
                            {{{ output.main_content }}}
                            {{{ output.fp_marketingtiles }}}
                            {{{ output.course_content_footer }}}

                </section>

                {{#hasblocks}}
                    <section data-region="blocks-column" class="hidden-print">
                        {{{ sidepreblocks }}}
                    </section>
                {{/hasblocks}}

            </div>
        </div>
    </div>
</div>
{{{ output.standard_after_main_region_html }}}
{{#hasfhsdrawer}}
{{> theme_boost/nav-drawer }}
{{/hasfhsdrawer}}

{{> theme_fordson/footer }}

</div>

<a href="#" id="back-to-top" class="btn btn-primary btn-lg" role="button" title="{{#str}}backtotop, theme_fordson{{/str}}"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['jquery','theme_boost/tooltip'], function($){$('[data-tooltip="tooltip"]').tooltip()});
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}