<style>
    .navbar {
       /* */background-image: url({{urlserver}}img/bgNav.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-color:  #225B4E; background-size:130% 100%;
    }
    .d-md-inline {
        display: inline!important;
        color: transparent;
    }
    a.navbar-brand.d-none.d-sm-inline {
        /*background-image: url({{urlserver}}img/campusVirtual.svg);width: 25%; background-repeat:no-repeat;*/
    }
    .navbar-expand .navbar-nav .nav-link { color: white;}
    .usermenu .login {line-height: 2.25rem; color: white;}
    .usermenu .login a { color: silver;}
    .mr-1, .mx-1 {
    margin-right: .25rem!important;color: white;}
    .dropdown-toggle::after {color: white;}
    [data-action=toggle-drawer] .icon {color: #225B4E;}
</style>
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}

<nav class="fixed-top navbar navbar-fhs {{#output.show_teacher_navbarcolor}}navbar-teacher{{/output.show_teacher_navbarcolor}} {{#output.show_student_navbarcolor}}navbar-student{{/output.show_student_navbarcolor}} navbar-expand moodle-has-zindex">
    {{#hasfhsdrawer}}
        <div data-region="drawer-toggle" class="d-inline-block mr-3">
            
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
    {{/hasfhsdrawer}}
  
   <!-- <img src="{{urlserver}}img/campusVirtual.svg" alt="{{sitename}}">-->
        <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                d-none d-sm-inline
            {{/ output.should_display_navbar_logo }}
                ">
            {{# output.should_display_navbar_logo }}
                <span class="logo d-none d-sm-inline">
                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                </span>
            {{/ output.should_display_navbar_logo }}
            <img src="{{urlserver}}img/campusVirtual.jpg" alt="{{sitename}}" style="padding-bottom: 1px;">
            <!--<span class="site-name d-none d-md-inline">{{{ sitename }}}</span>-->
        </a>
        
        <!-- course_controls -->
        <div class="coursecontrols nav-item d-flex">
            {{{ output.teacherdashmenu }}}
            {{{ output.edit_button_fhs }}}
        </div>

        <ul class="navbar-nav d-none d-md-flex">
            <!-- custom_menu -->
            {{{ output.fordson_custom_menu }}}
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <div class="d-none d-lg-block">
            {{{ output.search_box }}}
        </div>
            <!-- navbar_plugin_output -->
            <li class="nav-item">
            {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.user_menu }}}
            </li>
        </ul>
        <!-- search_box -->
</nav>